appdirs==1.4.3
Django==1.10.6
django-bootstrap3-datetimepicker==2.2.3
django-crispy-forms==1.6.1
django-floppyforms==1.7.0
django-pagedown==0.1.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
six==1.10.0
