{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Travel Portal | Employee{% endblock %}
{% block user %}{{ user }}{% endblock %}
{% block sidebar %}
    <li class='active'>
        <a href="{% url "tour:route" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
        {% if employee_account.account_position.pk == 1 %}
            <a href="{% url "tour:emp-list" tour_id %}"><i class="fa fa-fw fa-plane"></i> Tours</a>
        {% endif %}
    </li>
{% endblock %}

{% block content %}
<div id="page-wrapper">
<div class='container-fluid'>
    <div class="row">
    <div class="col-lg-12">
        <h1>Dashboard <small>Employee</small></h1>
        <hr>
        <ol class="breadcrumb">
                <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
                </li>
        </ol>
    </div>
    </div>

    <div class="row">
        {% if employee_account.account_position.pk == 1 %}
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-check fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ approved_count }}</div>
                            <div>Approved Tours</div>
                        </div>
                    </div>
                </div>
                <a href="{% url "tour:emp-list-status" tour_id 'approved' %}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-thumbs-down fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ rejected_count }}</div>
                            <div>Rejected Tours</div>
                        </div>
                    </div>
                </div>
                <a href="{% url "tour:emp-list-status" tour_id 'rejected' %}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-spinner fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ pending_count }}</div>
                            <div>Pending Tours</div>
                        </div>
                    </div>
                </div>
                <a href="{% url "tour:emp-list-status" tour_id 'pending' %}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ rfi_count }}</div>
                            <div>Request For Info Tours</div>
                        </div>
                    </div>
                </div>
                <a href="{% url "tour:emp-list-status" tour_id 'request-for-info' %}">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style='margin-bottom: 20px'>
        <div class="col-lg-3 col-md-6 col-lg-offset-9 col-md-offset-6" style='padding-left: 80px'>
            <a href="{% url 'tour:emp-create' employee_account.id %}">
                <button type="button" class="btn btn-lg btn-success"><i class="fa fa-plus-square fa-1x"></i> Add New Tour</button>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="list-group">
        {% if employee_account.account_position.pk == 1 %}
        <div class="panel panel-default">
            <div class="panel-body">
            <div class='row'>
                <div class="col-lg-8 col-md-8">
                    <h3>All Tours</h3>
                </div>
                <div id='tours_table' class="col-lg-4 col-md-4" style='padding-top: 20px; padding-left: 70px;'>
					<form method='GET' action='' class='input-group'>
						<input type='text' name='q' class="form-control" placeholder='Search tours' value='{{ request.GET.q }}'/>
						  <span class="input-group-btn">
							<button class="btn btn-default" type="submit">Go!</button>
						  </span>
					</form>
                </div>
            </div>
			<div class='row'>
			</div>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Tour ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Approving Manager</th>
                    <th>Submitted</th>
                    <th>Approved</th>
                    <th>Last Modified</th>
                </tr>
                </thead>
                <tbody>
                    {% for t in emp_tours %}
                    <tr>
                        <td><a href='{% url 'tour:emp-detail' t.employee.id t.id %}'>{{ t }}</a></td> 
                        <td>{{ t.start_date }}</td> 
                        <td>{{ t.end_date }}</td> 
                        <td>{{ t.approving_manager }}</td> 
                        <td>
                            {% if t.is_submitted %}
                                <i class="fa fa-check icon-true"></i>
                            {% else %}
                                <i class="fa fa-close icon-false"></i>
                            {% endif %}
                        </td> 
                        <td>
							{% if t.draft %}
								-
                            {% elif t.request_status.pk == 1 %}
                                <span class="label label-default">{{t.request_status}}</span>
                            {% elif t.request_status.pk == 2 %}
                                <span class="label label-success">{{t.request_status}}</span>
                            {% elif t.request_status.pk == 3 %}
                                <span class="label label-danger">{{t.request_status}}</span>
                            {% elif t.request_status.pk == 4 %}
                                <span class="label label-primary">{{t.request_status}}</span>
							
                            {% endif %}
                        </td> 
                        <td>{{ t.date_modified }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

			{% if emp_tours.has_other_pages %}
			  <ul class="pagination">
				{% if emp_tours.has_previous %}
				  <li><a href="?page={{ emp_tours.previous_page_number }}#tours_table">&laquo;</a></li>
				{% else %}
				  <li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in emp_tours.paginator.page_range %}
				  {% if emp_tours.number == i %}
					<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				  {% else %}
					<li><a href="?page={{ i }}#tours_table">{{ i }}</a></li>
				  {% endif %}
				{% endfor %}
				{% if emp_tours.has_next %}
				  <li><a href="?page={{ emp_tours.next_page_number }}#tours_table">&raquo;</a></li>
				{% else %}
				  <li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			  </ul>
			{% endif %}
            </div>
        </div>
        {% elif employee_account.account_position.pk == 2 %}
			<a href="{% url 'tour:man-list' employee_account.id %}" class="list-group-item">View Employee Request Tours</a>
        {% elif employee_account.account_position.pk == 3 %}
            <a href="{% url 'tour:fin-man-list' employee_account.id %}" class="list-group-item">View Employee Employee Request Tours</a>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
